<div class="carousel__item">
  <img src="<%= collection.image %>" alt="Colección <%= collection.name %>">
  <p class="carousel__name"><%= collection.name %></p>
  <a class="carousel__link" href="/catalogo/colecciones/<%=collection.name%>"></a>
</div>