<footer>
  <div class="footer__links">
    <div class="footer__container">
      <h3 class="footer__title">Productos</h3>
      <a class="footer__link" href="/catalogo">Catálogo</a>
      <a class="footer__link" href="/catalogo/categorias">Categorías</a>
      <a class="footer__link" href="/catalogo/colecciones">Colecciones</a>
    </div>
    <div class="footer__container">
      <h3 class="footer__title">Empresa</h3>
      <a class="footer__link" href="/contacto">Contacto</a>
      <a class="footer__link" href="/sobre-nosotros">Sobre Nosotros</a>
    </div>
    <div class="footer__container">
      <h3 class="footer__title">Tienda</h3>
      <a href="/carrito" class="footer__link">Mi Carrito</a>
    </div>
  </div>
  <div class="footer__social-media">
    <a href="https://www.facebook.com/Shalott-108338808312769" target="_blank">
      <i class='bx bxl-facebook-circle social-icon' id="icon--facebook"></i>
    </a>
    <a href="https://www.instagram.com/shalott_joyeria/?utm_medium=copy_link" target="_blank">
      <i class='bx bxl-instagram-alt social-icon' id="icon--instagram"></i>
    </a>
    <a href="https://wa.me/NUMEROAQUI?text=MENSAJEAQUI" target="_blank">
      <i class='bx bxl-whatsapp social-icon' id="icon--whatsapp"></i>
    </a>
  </div>
  <div class="footer__copyright">Copyright &copy; 2022 Shalott </div>
</footer>