<footer>
  <div class="footer__links">
    <div class="footer__container">
      <h3 class="footer__title">Productos</h3>
      <a class="footer__link" href="/catalogo">Catalogo</a>
      <a class="footer__link" href="/catalogo/categorias">Categorías</a>
      <a class="footer__link" href="catalogo/colecciones">Colecciones</a>
    </div>
    <div class="footer__container">
      <h3 class="footer__title">Empresa</h3>
      <a class="footer__link">Contacto</a>
      <a class="footer__link">Sobre Nosotros</a>
    </div>
    <div class="footer__container">
      <h3 class="footer__title">Tienda</h3>
      <a class="footer__link">Mi Carrito</a>
    </div>
  </div>
  <div class="footer__social-media">
    <i class='bx bxl-facebook-circle social-icon' id="icon--facebook"></i>
    <i class='bx bxl-instagram-alt social-icon' id="icon--instagram"></i>
    <i class='bx bxl-whatsapp social-icon' id="icon--whatsapp"></i>
  </div>
  <div class="footer__copyright">Copyright &copy; 2022 Shalott </div>
</footer>