<header>
  <figure class="logo-container">
    <img class="logo" src="/images/ShalottLogo.png" alt="Shalott Logo" />
  </figure>
  <i class="fa fa-bars menu"></i>
  <aside class="nav-mobile">
    <i class='bx bx-x nav__close--mobile'></i>
    <ul class="nav__items--mobile">
      <li class="nav__item--mobile"><a>Inicio</a></li>
      <li class="nav__item--mobile"><a>Productos</a></li>
      <li class="nav__item--mobile"><a>Categorias</a></li>
      <li class="nav__item--mobile"><a>Colecciones</a></li>
      <li class="nav__item--mobile"><a>Carrito</a></li>
    </ul>
  </aside>
</header>
<div class="header__overlay"></div>
<script src="/js/navbar.js"></script>