<header class="header header--main">
  <figure class="logo-container">
    <a href="/">
      <img class="logo" src="/images/ShalottLogo.png" alt="Shalott Joyería Logo" />
    </a>
  </figure>
  <i class="fa fa-bars menu"></i>
  <aside class="nav-mobile">
    <i class='bx bx-x nav__close--mobile'></i>
    <ul class="nav__items--mobile">
      <li class="nav__item--mobile"><a href="/">Inicio</a></li>
      <li class="nav__item--mobile"><a href="/catalogo">Productos</a></li>
      <li class="nav__item--mobile"><a href="/catalogo/categorias">Categorias</a></li>
      <li class="nav__item--mobile"><a href="/catalogo/colecciones">Colecciones</a></li>
      <li class="nav__item--mobile"><a href="/carrito">Carrito</a></li>
    </ul>
    <div class="header__social-media">
      <a href="https://www.facebook.com/Shalott-108338808312769" target="_blank">
        <i class='bx bxl-facebook-circle social-icon' id="icon--facebook"></i>
      </a>
      <a href="https://www.instagram.com/shalott_joyeria/?utm_medium=copy_link" target="_blank">
        <i class='bx bxl-instagram-alt social-icon' id="icon--instagram"></i>
      </a>
      <a href="https://wa.me/NUMEROAQUI?text=MENSAJEAQUI" target="_blank">
        <i class='bx bxl-whatsapp social-icon' id="icon--whatsapp"></i>
      </a>
    </div>
  </aside>
  <nav class="nav-desktop">
    <ul class="nav__items--desktop">
      <li class="nav__item--desktop"><a href="/">Inicio</a></li>
      <li class="nav__item--desktop"><a href="/catalogo">Productos</a></li>
      <li class="nav__item--desktop"><a href="/catalogo/categorias">Categorías</a></li>
      <li class="nav__item--desktop"><a href="/catalogo/colecciones">Colecciones</a></li>
      <li class="nav__item--desktop"><a href="/carrito">Carrito</a></li>
    </ul>
    <div class="header__social-media--desktop">
      <a href="https://www.facebook.com/Shalott-108338808312769" target="_blank">
        <i class='bx bxl-facebook-circle social-icon' id="icon--facebook"></i>
      </a>
      <a href="https://www.instagram.com/shalott_joyeria/?utm_medium=copy_link" target="_blank">
        <i class='bx bxl-instagram-alt social-icon' id="icon--instagram"></i>
      </a>
      <a href="https://wa.me/NUMEROAQUI?text=MENSAJEAQUI" target="_blank">
        <i class='bx bxl-whatsapp social-icon' id="icon--whatsapp"></i>
      </a>
    </div>
  </nav>
</header>
<div class="header__overlay"></div>