<article class="card card--product">
  <figure class="card__image-container">
    <img class="card__image" src="<%= productData.productImage %>">
  </figure>
  <div class="card__body">
    <div class="card__description">
      <%= productData.productCollection %>
    </div>
    <div class="card__title">
      <%= productData.productName %>
    </div>
    <div class="card__price">
      $<%= productData.productPrice %>
    </div>
  </div>
  <button class="card__btn">Comprar</button>
</article>