<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shalott | Mensaje</title>

  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/about.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/footer.css">

  <meta name="robots" content="noindex">
  <meta name="theme-color" content="e1d3cf">
  <link rel="icon" type="image/x-icon" href="/images/ShalottFavIcon.png">

  <!-- Font awesome link-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Box icons -->
  <link href='https://unpkg.com/boxicons@2.0.8/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <%- include("partials/navbar.ejs") %>
    <main>
      <section class="section section--about-us">
        <div class="section__content">
          <article class="about">
            <div class="about__left">
              <h1 class="about__title">Somos una joyería de artículos de arcilla polimérica en Querétaro</h1>
              <p class="about__text text text--small">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur officia repellat tempore quisquam,
                voluptas porro beatae error et consectetur quidem doloribus harum iusto at exercitationem possimus hic!
                Placeat, dicta ut.
              </p>
              <p class="about__text text text--small">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur officia repellat tempore quisquam,
                voluptas porro beatae error et consectetur quidem doloribus harum iusto at exercitationem possimus hic!
                Placeat, dicta ut.
              </p>
              <p class="about__text text text--small">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur officia repellat tempore quisquam,
                voluptas porro beatae error et consectetur quidem doloribus harum iusto at exercitationem possimus hic!
                Placeat, dicta ut.
              </p>
            </div>
            <div class="about__right">
              <figure class="about__figure">
                <img class="about__img" src="/images/ShalottAboutView.png" alt="joyería de arcilla polimérica">
              </figure>
            </div>
          </article>
        </div>
      </section>

      <section class="section section--about-questions">
        <div class="section__content">
          <div class="question-container">
            <article class="question-item">
              <h2 class="question text text--small">¿Qué es la arcilla polimérica?</h2>
              <p class="question-answer text text--small">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore odit
                sunt magni reiciendis beatae id.
              </p>
            </article>

            <article class="question-item">
              <h2 class="question text text--small">¿En cuánto tiempo llegará mi pedido?</h2>
              <p class="question-answer text text--small">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore odit
                sunt magni reiciendis beatae id.
              </p>
            </article>

            <article class="question-item">
              <h2 class="question text text--small">¿Qué hacer en caso de devolución?</h2>
              <p class="question-answer text text--small">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore odit
                sunt magni reiciendis beatae id.
              </p>
            </article>

            <article class="question-item">
              <h2 class="question text text--small">¿Dónde puedo encontrarte?</h2>
              <p class="question-answer text text--small">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore odit
                sunt magni reiciendis beatae id.
              </p>
            </article>
          </div>
        </div>
      </section>

    </main>
    <%- include("partials/footer.ejs") %>
      <script src="/js/navbar.js"></script>
</body>

</html>