<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shalott</title>
  <link rel="stylesheet" href="/styles.css" />
  <!-- Font awesome link-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Box icons -->
  <link href='https://unpkg.com/boxicons@2.0.8/css/boxicons.min.css' rel='stylesheet'>
  <!-- Glider css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css">
</head>

<body>
  <%- include("partials/navbar.ejs") %>
  <main>
    <section class="section section--catalogue">
      <div class="section__content">
        <div class="catalogue__header">
          <h2 class="catalogue__title"><%= title %></h2>
          <div class="catalogue__filters">
            <div class="filter-form">
              <label class="filter__label">Filtrar por:</label>
            </div>
            <div class="filter-form"></div>
              <label class="filter__label">Ordenar por:</label>
          </div>
        </div>
        <div class="card-container">
          <% for(let i = 0; i < products.length; i++) { %>
            <%- include("partials/product_card.ejs", { productData: products[i]}) %>
          <% } %>
        </div>
      </div>
    </section>
  </main>
  <%- include("partials/footer.ejs")-%>
  
  <script src="/js/navbar.js"></script>
</body>

</html>