<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shalott</title>
  <link rel="stylesheet" href="/styles.css" />
  <!-- Font awesome link-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <header>
    <figure class="logo-container">
      <img class="logo" src="/images/ShalottLogo.png" />
    </figure>
    <i class="fa fa-bars menu"></i>
  </header>
  <section class="section--banner">
    <img class="banner__image" src="/images/BannerImage.png" />
  </section>
  <section class="section--products">
    <div class="section__title">
      <img class="title__image" src="/images/ShalottFlower.png">
      <div class="title__text">Destacados</div>
      <div class="title__line"></div>
    </div>
    <div class="card-container">
      <%-include("partials/product_card.ejs", {productData: products[0]}) %>
      <%-include("partials/product_card.ejs", {productData: products[1]}) %>
      <%-include("partials/product_card.ejs", {productData: products[2]}) %>
      <%-include("partials/product_card.ejs", {productData: products[3]}) %>
    </div>
  </section>
  <section class="section--about section--dark">
    <div class="section__title">
      <img class="title__image" src="/images/ShalottButterfly.png">
      <div class="title__text">Sobre Nosotros</div>
      <div class="title__line"></div>
    </div>
    <div class="about__text text">
      <p class="text text--small">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi hic odit dignissimos labore blanditiis
        perspiciatis molestias illo deserunt nesciunt soluta voluptatum nostrum dolor, laboriosam, quod cumque
        reprehenderit modi dicta velit?
      </p>
      <p class="text text--small">
        Minima obcaecati cumque similique, dicta reprehenderit tempore tenetur quos deleniti asperiores reiciendis
        facere, necessitatibus repellat ut velit minus saepe. Assumenda velit et tenetur esse quaerat quos beatae qui
        eos maxime.
      </p>
      <figure class="about__image-container">
        <img class="about__image" src="/images/AboutPhoto.jpg">
      </figure>
    </div>
  </section>

</body>

</html>