.message__main {
    position: relative;
    min-height: 50vh;
}

.message-404 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--med-font);
    max-width: 600px;
    text-align: center;
}