/* ======= CATALOGUE VIEW ======= */
.catalogue__header {
    border-bottom: 2px solid var(--secondary-color);
    padding: 1rem 0;
    margin-bottom: 4rem;
}

.catalogue__title {
    font-size: var(--big-font);
    text-align: center;
    color: var(--secondary-color);
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
    text-transform: capitalize;
}

.catalogue__nav {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 1.5rem;
}

.catalogue__arrow {
    font-size: 3rem;
    color: var(--secondary-color);
    cursor: pointer;
}

.catalogue__arrow.inactive {
    color: var(--main-color);
    cursor: inherit;
}

.catalogue__filters {
    display: flex;
    justify-content: space-between;
}

.filter__label {
    font-size: var(--tiny-font);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.filter__label--right {
    text-align: end;
}

.filter-form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.filter__select {
    color: var(--text-color);
    background: none;
    outline: none;
    border: none;
    margin: .5rem 0;
    font-size: var(--tiny-font);
    text-transform: capitalize;
}

.filter__option {
    font-size: var(--tiny-font);
}

@media screen and (min-width: 768px) {
    .catalogue__nav {
        margin-top: 5rem;
    }

    .catalogue__arrow {
        font-size: 4rem;
    }
}
