/* ======= CATALOGUE VIEW ======= */
.catalogue__header {
    border-bottom: 2px solid var(--secondary-color);
    padding: 1rem 0;
    margin-bottom: 4rem;
}

.catalogue__title {
    font-size: var(--big-font);
    text-align: center;
    color: var(--secondary-color);
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
    text-transform: capitalize;
}

.catalogue__nav {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 1.5rem;
}

.catalogue__arrow {
    font-size: 3rem;
    color: var(--secondary-color);
    cursor: pointer;
}

.catalogue__arrow.inactive {
    color: var(--main-color);
    cursor: inherit;
}

.catalogue__filters {
    display: flex;
    justify-content: space-between;
}

.filter__label {
    font-size: var(--tiny-font);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.filter__label--right {
    text-align: end;
}

.filter-form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.filter__select {
    color: var(--text-color);
    outline: none;
    border: none;
    margin: .5rem 0;
    font-size: var(--tiny-font);
    text-transform: capitalize;
    -webkit-appearance: none;
    cursor: pointer;
    position: relative;
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
    -moz-appearance: none; 
    -webkit-appearance: none; 
    appearance: none;
    height: 30px; 
    min-width: 140px;
}

.filter__option {
    font-size: var(--tiny-font);
}

@media screen and (min-width: 450px) {
    .filter__select {
        min-width: 160px;
    }
}

@media screen and (min-width: 768px) {
    .catalogue__nav {
        margin-top: 5rem;
    }

    .catalogue__arrow {
        font-size: 4rem;
    }
}
