.contact__title {
    color: var(--secondary-color);
    font-weight: 500;
    margin-bottom: 1rem;
}

.contact__text {
    margin-bottom: 1rem;
}

.contact__list {
    list-style: none;
}

.contact__item {
    position: relative;
    margin: .5rem 0;
}

.contact__item::before {
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    background-color: var(--secondary-color);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.contact__container {
    display: flex;
    flex-direction: column;
}

.contact-btn {
    margin-top: 1.2rem;
}

.contact-form {
    margin-top: 3rem;
}

#message {
    background: none;
    resize: none;
    border: 1px solid var(--secondary-color);
    font-size: var(--small-font);
}

#message:focus {
    border: 2px solid var(--secondary-color);
    outline: none;
    color: var(--text-color);
}

.email-modal {
    width: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: white;
    padding: 3rem;
    z-index: 10;
    border-radius: 8px;
    max-width: 400px;
    transition: .2s ease-in-out;
}

.email-modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal__text {
    font-size: var(--med-font);
    color: var(--text-color);
    text-align: center;
}

.modal__buttons {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin-top: 1rem;
}

.modal__btn {
    padding: .8rem 1.2rem;
    cursor: pointer;
    font-size: var(--btn-font);
    border-radius: 5px;
    transition: .2s ease-in-out;
}

.btn--outline {
    border: 1px solid var(--secondary-color);
}

.btn--outline:hover {
    background-color: var(--complementary-color);
    border: 1px solid var(--complementary-color);
}

.btn--primary {
    background-color: var(--complementary-color);
}

.btn--primary:hover {
    opacity: .8;
}

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
    display: none;
}

.modal__overlay.active {
    display: block;
}


@media screen and (min-width: 768px) {
    .contact__container {
        flex-direction: row;
    }

    .contact-form {
        margin-top: 0;
    }

    .contact__left, .contact__right {
        flex: 1;
        width: 50%;
    }

    .contact__left {
        margin-right: 2rem;
    }
}