@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@200;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: "Arimo", sans-serif;
    line-height: 1.5;
}

:root {
    --main-color: #e1d3cf;
    --accent-color: #deaf7c;
    --secondary-color: #81362f;
    --complementary-color: #d7b7aa;
    --text-color: #333;
    --text-dark: #111;
    --text-light: #777;
    --tiny-font: 1.2rem;
    --small-font: 1.6rem;
    --med-font: 1.8rem;
    --big-font: 2rem;
    --h-margin: 2rem;
}

html, body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

@media screen and (min-width: 480px) {
    :root {
        --tiny-font: 1.4rem;
        --small-font: 1.8rem;
        --med-font: 2rem;
        --big-font: 2.2rem;
        --h-margin: 4rem;
    }
}

@media screen and (min-width: 768px) {
    :root {
        --h-margin: 8rem;
    }
}

/* ======= LAYOUT STYLES ======= */
section {
    position: relative;
    padding: 2rem var(--h-margin);
}

.section--dark {
    background-color: var(--complementary-color);
}

.section__title {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 2rem;
}

.title__image {
    width: 3.4rem;
    margin-right: .5em;
}

.title__text {
    font-size: var(--big-font);
    color: var(--secondary-color);
    font-weight: bold;
    margin-right: .5em;
}

.title__line {
    background-color: var(--secondary-color);
    flex: 1;
    height: 2px;
    width: 100%;
}

@media screen and (min-width: 768px) {
    section {
        padding: 6rem 0;
    }

    .section__title {
        margin-bottom: 3rem;
    }

    .section__content {
        max-width: 80%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1200px) {
    .section__content {
        max-width: 70%;
    }
}

/* ======= CARD STYLES ======= */
.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.card {
    position: relative;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card--product {
    cursor: pointer;
}

.card__body {
    flex: 1;
}

.card__image-container {
    position: relative;
    width: 100%;
}

.card__image {
    border-radius: 5px 5px 0 0;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    object-position: center;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.card__description {
    color: var(--text-light);
    font-style: italic;
    font-size: var(--tiny-font);
    margin-bottom: .1rem;
}

.card__title {
    color: var(--text-dark);
    font-size: var(--med-font);
    margin-bottom: .1rem;
}

.card__price {
    color: var(--text-color);
    font-size: 1.6rem;
    margin-bottom: .4rem;
}

.card__btn {
    cursor: pointer;
    outline: none;
    border: none;
    padding: .5em 1em;
    border-radius: 5px;
    background-color: var(--accent-color);
    font-size: var(--tiny-font);
    transition: .2s ease-in-out;
    flex: 0;
}

.card__btn:hover {
    opacity: .8;
}

.category {
    position: relative;
}

/* Category cards */

.category__image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
}

.category__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
}

.category__name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--big-font);
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.category__name a {
    display: block;
}

@media screen and (min-width: 768px) {
    .card-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 3rem;
    }
}

/* ======= HEADER STYLES ======= */
header {
    width: 100%;
    padding: 1rem var(--h-margin);
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo-container {
    width: 14rem;
    height: 5rem;
    position: relative;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

i.menu {
    cursor: pointer;
    font-size: 1.8rem;
    color: var(--text-color);
}

.nav-desktop {
    display: none;
}

.nav-mobile {
    position: fixed;
    right: -100%;
    top: 0;
    width: 60%;
    height: 100vh;
    background-color: white;
    z-index: 10000;
    transition: .2s ease-in-out;
    padding: 2rem;
}

.nav-mobile.active {
    right: 0;
}

.nav__close--mobile {
    font-size: 3rem;
    cursor: pointer;
    position: relative;
    left: -9px;
}

.nav__items--mobile {
    margin-top: 2rem;
    list-style: none;
}

.nav__item--mobile {
    border-bottom: 1px solid var(--secondary-color);
}

.nav__item--mobile a {
    display: inline-block;
    font-size: var(--med-font);
    cursor: pointer;
    color: var(--text-color);
    transition: .2s ease-in-out;
    margin: 1rem 0;
}

.nav__item--mobile a:hover {
    color: var(--text-light);
}

.header__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    display: none;
    z-index: 10;
}

.header__overlay.active {
    display: block;
}

.header__social-media {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

@media screen and (min-width: 768px) {
    header {
        padding: 2rem 10%;
    }

    .logo-container {
        width: 18rem;
        height: 6rem;
    }
}

@media screen and (min-width: 1200px) {
    header {
        padding: 2rem 15%;
    }

    i.menu {
        display: none;
    }

    .nav-mobile {
        display: none;
    }

    .header__overlay.active {
        display: none;
    }

    .nav-desktop {
        display: flex;
        flex: 1;
        align-items: center;
    }

    .nav__items--desktop {
        display: flex;
        list-style: none;
        gap: 4rem;
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .nav__item--desktop {
        color: var(--text-dark);
    }

    .nav__item--desktop a {
        font-size: 1.6rem;
        cursor: pointer;
        transition: .2s ease-in-out;
    }

    .nav-desktop a:hover {
        color: var(--text-light);
    }

    .header__social-media--desktop {
        text-align: end;
        display: flex;
        gap: 1.5rem;
    }

    .header__social-media--desktop i {
        font-size: 3rem;
    }

}

/* ======= BANNER SECTION ======= */
.section--banner {
    padding: 0;
    width: 100%;
    height: 40vh;
    overflow: hidden;
}

.banner__slides {
    position: relative;
    display: flex;
    width: 500%;
    height: 100%;
}

.banner__slides input {
    display: none;
}

.navigation-manual {
    position: absolute;
    width: 100vw;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.manual-btn {
    position: relative;
    border: 2px solid var(--secondary-color);
    padding: 5px;
    border-radius: 10px;
    z-index: 10;
    transition: 1s ease-in-out;
    cursor: pointer;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio1:checked ~ .navigation-manual #btn-1 {
    background-color: white;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio2:checked ~ .navigation-manual #btn-2 {
    background-color: white;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio3:checked ~ .navigation-manual #btn-3 {
    background-color: white;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

#radio4:checked ~ .navigation-manual #btn-4 {
    background-color: white;
}

.banner__slide {
    width: 20%;
    height: 100%;
    transition: .5s ease-in-out;
}

.banner__text {
    color: white;   
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50vw;
    transform: translate(-50%, -50%);
    max-width: 80vw;
    font-size: var(--med-font);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
}

.banner__btn {
    position: absolute;
    top: 70%;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-color: white;
    color: var(--text-color);
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: var(--tiny-font);
    cursor: pointer;
    transition: opacity .5s ease-in-out;
}

.banner__btn:hover {
    opacity: .8;
}

#banner-1 {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), 
    url("/images/ShalottBanner1.png");
    background-position: center;
    background-size: cover;
}

#banner-2 {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), 
    url("/images/ShalottBanner2.png");
    background-position: center;
    background-size: cover;
}

#banner-3 {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), 
    url("/images/ShalottBanner3.png");
    background-position: center;
    background-size: cover;
}

#banner-4 {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), 
    url("/images/ShalottBanner4.png");
    background-position: center;
    background-size: cover;
}

@media screen and (min-width: 768px) {
    .section--banner {
        height: 600px;
    }

    .banner__text {
        font-size: 3rem;
        letter-spacing: 4px;
    }

    .banner__btn {
        top: 63%;
    }
}

/* ======= ABOUT SECTION ======= */
.about__image-container {
    width: 100%;
    position: relative;
    margin-top: 2rem;
}

.about__image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1/1;
}

.about__text p {
    margin-bottom: 1.5rem;
    font-size: var(--small-font);
    color: var(--text-color);
}

.about__col {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .about__col {
        flex-direction: row;
        align-items: flex-start;
        gap: 4rem;
    }

    .about__text {
        flex: 1;
    }
    
    .about__image-container {
        flex: 1;
        margin-top: 0;
    }
}

/* ======= COLLECTIONS CAROUSEL ======= */
.collections__carousel {
    width: calc(100% - 5rem);
    margin: 0 auto;
}

.carousel__container {
    position: relative;
}

.carousel__prev, 
.carousel__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    font-size: var(--small-font);
    background: none;
    border: none;
    color: var(--secondary-color);
    cursor: pointer;
}

.carousel__prev {
    left: -2.5rem;
}

.carousel__next {
    right: -2.5rem;
}

.carousel__list {
    overflow: hidden;
}

.carousel__indicators .glider-dot.active {
    background: var(--secondary-color);
}

.carousel__item {
    position: relative;
}

.carousel__item img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.carousel__item p {
    min-width: 80%;
    position: absolute;
    display: inline-block;
    padding: 1rem 1.2rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    font-size: var(--small-font);
    color: var(--text-dark);
    font-weight: bold;
    background: white;
    border-radius: 5px;
    text-align: center;
}

.carousel__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

/* ======= FOOTER STYLES ======= */
footer {
    width: 100%;
    padding: 1rem var(--h-margin);
    background-color: var(--main-color);
    align-self: flex-end;
}

.footer__links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__title {
    font-size: var(--big-font);
    font-weight: normal;
    color: var(--secondary-color);
    font-weight: bold;
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
}

.footer__link {
    color: var(--text-color);
    cursor: pointer;
    font-size: var(--small-font);
    transition: .2s ease-in-out;
}

.footer__link:hover {
    color: var(--text-light);
}

.footer__social-media {
    display: flex;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    gap: 1rem;
}

.social-icon {
    font-size: 3rem;
    color: var(--secondary-color);
    cursor: pointer;
    transition: .2s ease-in-out;
}

.social-icon:hover {
    transform: rotate(-15deg);
}

.footer__copyright {
    font-size: 12px;
    color: var(--text-light);
    margin-top: .5rem;
    text-align: center;
}

@media screen and (min-width: 768px) {
    footer {
        padding: 4rem 10%;
    }

    .social-icon {
        font-size: 4rem;
    }

    .footer__links {
        flex-direction: row;
        gap: 10rem;
        margin-bottom: 2em;
    }
}

@media screen and (min-width: 1200px) {
    footer {
        padding: 4rem 15%; 
    }
    
    .footer__links {
        gap: 20rem;
    }
}

/* ======= CATALOGUE VIEW ======= */
.catalogue__header {
    border-bottom: 2px solid var(--secondary-color);
    padding: 1rem 0;
    margin-bottom: 4rem;
}

.catalogue__title {
    font-size: var(--big-font);
    text-align: center;
    color: var(--secondary-color);
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
    text-transform: capitalize;
}

.catalogue__filters {
    display: flex;
    justify-content: space-between;
}

.filter__label {
    font-size: var(--tiny-font);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.filter-form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.filter__select {
    color: var(--text-color);
    background: none;
    outline: none;
    border: none;
    margin: .5rem 0;
    font-size: var(--tiny-font);
    text-transform: capitalize;
}

.filter__option {
    font-size: var(--tiny-font);
}

/* ======= DISPLAY PRODUCT VIEW ======= */
.display__image-container {
    width: 100%;
    position: relative;
}

.display__image {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}

.display__content {
    display: flex;
    flex-direction: column;
}

.display__title {
    color: var(--text-color);
    font-weight: 500;
    font-size: var(--big-font);
    margin-top: 1rem;
}

.display__price {
    color: var(--text-color);
    font-size: var(--med-font);
}

.display__description {
    color: var(--text-color);
    font-size: var(--small-font);
    margin: 1rem 0;
}

.display__btn {
    outline: none;
    border: none;
    background: var(--complementary-color);
    padding: 1rem 3rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--tiny-font);
    transition: .2s ease-in-out;
    margin-top: 1rem;
}

.display__btn:hover {
    opacity: .8;
}

.section__title--display {
    margin: 2rem 0 1rem;
}

.display__info {
    color: var(--text-color);
    font-size: var(--small-font);
}

.display__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.display__form-row {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.display__form-row label {
    color: var(--text-color);
    font-size: var(--small-font);
}

.display__form-row input,
.display__form-row select,
.display__form-row option {
    padding: .4rem;
    font-size: var(--tiny-font);
}

.display__form-row input,
.display__form-row select {
    background: none;
    border: 1px solid var(--secondary-color);
}

.display__form-row select {
    padding: .6rem 0;
}

.display__form-row select:focus,
.display__form-row input:focus {
    border: 2px solid var(--secondary-color);
    outline: none;
}


@media screen and (min-width: 768px) {
    .display__row {
        display: flex;
        gap: 5rem;
        margin-bottom: 1rem;
    }

    .display__title {
        margin-top: 0;
    }

    .display__image-container {
        flex: 4;
    }

    .display__content {
        flex: 3;
    }

    .display__form label {
        font-size: var(--tiny-font);
    }
}